.home-page {
    background-image: url ("https://images.pexels.com/photos/1591375/pexels-photo-1591375.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940")
}
.portfolioCard {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
}

.col-weather-day {
    position: relative;
    width: 20%;
    padding-right: 5px;
    padding-left: 5px;
}



/* must be last on page unless we want to add mobile styles*/
@media (max-width: 768px) {
    .col-weather-day {
        flex: 0 0 100%;
    }

/*other mobile styles if we want*/



}